$main-color: #d7ccc8;
$dark-color: #4e342e;
$gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(137, 172, 70, 1) 0%, rgba(113, 143, 57, 1) 36%, rgba(89, 113, 41, 1) 100%);

//media

$large-size: "992px";
$medium-size:"768px";
$small-size: "576px";
// $medium-size:"768px";
// $medium-size:"768px";