@use '../../styles/variables.scss' as vars;

.wrapper {
    background-color: whitesmoke;
    overflow: hidden;
    color: #6d4c41; 
    padding: 100px 0;  
    display: flex;
    flex-wrap: wrap;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}
.services__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.subtitle_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}


.services__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.info__block {
    max-width: 200px;
}
.block__header {
    text-align: center;
    height: 130px;
    & > .header__icon{
        & > img {
            width: 70px;
        }
    }
    & > .header__title {
        font-weight: 400;
        font-size: 1rem;
        margin-top: 10px;
    }
}

.block__text {
    text-align: center;
    font-size: 0.6rem;
}

@media (max-width:vars.$large_size) {
    .text__title {
        font-size: 1.4rem;
    }
    .text__subtitle {
        font-size: 0.8rem;
    }

    .block__header {
        text-align: center;
        height: 120px;
        & > .header__icon{
            & > img {
                width: 60px;
            }
        }
        & > .header__title {
            font-weight: 400;
            font-size: 0.8rem;
        }
    }

}


@media (max-width:vars.$medium_size) {
    .services{
        gap: 100px;
    }
    .services__info {
        grid-template-columns: repeat(2, 1fr);
    }
    .info__block{
        width: 150px;
    }
}

@media (max-width:vars.$small_size) {
    .services__info {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .info__block{
        width: 200px;
    }
}


@media(max-width: 375px) {
    .services__text {
        h2 {
            font-size: 1.6rem;

        }
        p {
            font-size: 0.7rem;
        }
    }
}